body, html {
  font-family: "Open Sans", Verdana, Arial;
}

#board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.cell {
  outline: 1px solid black;
  padding: 1em;
}